In [2]:
import json
import pandas as pd

In [4]:
with open('partner_data_records.json', 'r') as j:
    contents = json.load(j)

contents

[{'id': 1,
  'age': 26.0,
  'job': 'unemployed',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 454,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 2,
  'age': 25.0,
  'job': 'technician',
  'marital': 'married',
  'education': 'secondary',
  'balance': 517,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 3,
  'age': 36.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 1044,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 4,
  'age': 45.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 146,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 5,
  'age': 27.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 145,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 6,
  'age': 45.0,
  'job': 'unemployed',
  'marital': 'divorced',
  'education': 'primary',
  'balance': 11,
  'housing': 'no',
  'loan': 'no',
  'default': 'yes'},
 {'id': 7,
  'age': 35.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 298,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 8,
  'age': 27.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 905,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 9,
  'age': None,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': -485,
  'housing': 'yes',
  'loan': 'no',
  'default': 'yes'},
 {'id': 10,
  'age': 32.0,
  'job': 'unemployed',
  'marital': 'married',
  'education': 'secondary',
  'balance': 10,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 11,
  'age': 46.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 78,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 12,
  'age': 53.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 0,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 13,
  'age': 32.0,
  'job': 'management',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 223,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 14,
  'age': 34.0,
  'job': 'student',
  'marital': None,
  'education': 'tertiary',
  'balance': 387,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 15,
  'age': 58.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 96,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 16,
  'age': 77.0,
  'job': 'retired',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 0,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 17,
  'age': 31.0,
  'job': 'blue-collar',
  'marital': 'single',
  'education': 'secondary',
  'balance': -161,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 18,
  'age': 47.0,
  'job': 'blue-collar',
  'marital': None,
  'education': 'secondary',
  'balance': 3630,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 19,
  'age': None,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 302,
  'housing': 'no',
  'loan': 'yes',
  'default': 'no'},
 {'id': 20,
  'age': 47.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'primary',
  'balance': 1452,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 21,
  'age': 32.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 1651,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 22,
  'age': 31.0,
  'job': 'admin.',
  'marital': 'married',
  'education': 'secondary',
  'balance': 84,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 23,
  'age': 30.0,
  'job': 'management',
  'marital': 'single',
  'education': 'secondary',
  'balance': 2143,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 24,
  'age': 31.0,
  'job': 'management',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 682,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 25,
  'age': 59.0,
  'job': 'retired',
  'marital': 'divorced',
  'education': 'secondary',
  'balance': 337,
  'housing': 'yes',
  'loan': 'no',
  'default': 'yes'},
 {'id': 26,
  'age': 23.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 4545,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 27,
  'age': 40.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'primary',
  'balance': 1698,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 28,
  'age': 39.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 1367,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 29,
  'age': 57.0,
  'job': 'blue-collar',
  'marital': None,
  'education': 'primary',
  'balance': 3109,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 30,
  'age': 56.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 480,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 31,
  'age': 44.0,
  'job': 'services',
  'marital': 'married',
  'education': 'secondary',
  'balance': 3536,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 32,
  'age': None,
  'job': 'housemaid',
  'marital': 'single',
  'education': 'secondary',
  'balance': 781,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 33,
  'age': 75.0,
  'job': 'retired',
  'marital': 'married',
  'education': 'secondary',
  'balance': 291,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 34,
  'age': 27.0,
  'job': 'blue-collar',
  'marital': 'single',
  'education': 'secondary',
  'balance': 3145,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 35,
  'age': 45.0,
  'job': 'services',
  'marital': 'married',
  'education': 'secondary',
  'balance': -75,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 36,
  'age': 35.0,
  'job': 'admin.',
  'marital': 'married',
  'education': 'secondary',
  'balance': 1035,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 37,
  'age': 36.0,
  'job': 'services',
  'marital': None,
  'education': 'secondary',
  'balance': 981,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 38,
  'age': 55.0,
  'job': 'management',
  'marital': 'divorced',
  'education': 'tertiary',
  'balance': 552,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 39,
  'age': 54.0,
  'job': 'technician',
  'marital': 'married',
  'education': 'secondary',
  'balance': 465,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'yes'},
 {'id': 40,
  'age': 45.0,
  'job': 'technician',
  'marital': 'married',
  'education': 'unknown',
  'balance': 886,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 41,
  'age': 56.0,
  'job': 'retired',
  'marital': 'married',
  'education': 'primary',
  'balance': -464,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 42,
  'age': 57.0,
  'job': 'retired',
  'marital': None,
  'education': 'tertiary',
  'balance': 34,
  'housing': 'no',
  'loan': 'yes',
  'default': 'no'},
 {'id': 43,
  'age': None,
  'job': 'technician',
  'marital': 'married',
  'education': 'secondary',
  'balance': -74,
  'housing': 'yes',
  'loan': 'no',
  'default': 'yes'},
 {'id': 44,
  'age': 53.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 1777,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 45,
  'age': 30.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 1395,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 46,
  'age': 36.0,
  'job': 'management',
  'marital': 'married',
  'education': 'secondary',
  'balance': -148,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 47,
  'age': 73.0,
  'job': 'retired',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 1843,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 48,
  'age': 33.0,
  'job': 'unknown',
  'marital': 'single',
  'education': 'secondary',
  'balance': 1522,
  'housing': 'no',
  'loan': 'yes',
  'default': 'no'},
 {'id': 49,
  'age': 51.0,
  'job': 'blue-collar',
  'marital': 'divorced',
  'education': 'tertiary',
  'balance': 257,
  'housing': 'yes',
  'loan': 'no',
  'default': 'yes'},
 {'id': 50,
  'age': None,
  'job': 'retired',
  'marital': 'divorced',
  'education': 'primary',
  'balance': 1327,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'yes'},
 {'id': 51,
  'age': 37.0,
  'job': 'housemaid',
  'marital': 'married',
  'education': 'primary',
  'balance': 0,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 52,
  'age': 39.0,
  'job': 'blue-collar',
  'marital': None,
  'education': 'secondary',
  'balance': 497,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 53,
  'age': 32.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'primary',
  'balance': 902,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 54,
  'age': 44.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 1311,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 55,
  'age': 46.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'primary',
  'balance': 1596,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 56,
  'age': 43.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 2767,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 57,
  'age': 25.0,
  'job': 'entrepreneur',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 0,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 58,
  'age': 46.0,
  'job': 'admin.',
  'marital': 'divorced',
  'education': 'secondary',
  'balance': 984,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 59,
  'age': 28.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 84,
  'housing': 'no',
  'loan': 'yes',
  'default': 'yes'},
 {'id': 60,
  'age': None,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'unknown',
  'balance': 231,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 61,
  'age': 26.0,
  'job': 'admin.',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 3730,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 62,
  'age': 53.0,
  'job': 'retired',
  'marital': None,
  'education': 'secondary',
  'balance': 1139,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 63,
  'age': 42.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 388,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 64,
  'age': 35.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 485,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 65,
  'age': 32.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 363,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 66,
  'age': 40.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': -313,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 67,
  'age': 33.0,
  'job': 'entrepreneur',
  'marital': 'single',
  'education': 'secondary',
  'balance': 278,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 68,
  'age': 41.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': -204,
  'housing': 'yes',
  'loan': 'no',
  'default': 'yes'},
 {'id': 69,
  'age': 30.0,
  'job': 'admin.',
  'marital': 'married',
  'education': 'secondary',
  'balance': 2931,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 70,
  'age': 32.0,
  'job': 'management',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 3,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 71,
  'age': 40.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 2244,
  'housing': 'no',
  'loan': 'yes',
  'default': 'no'},
 {'id': 72,
  'age': 42.0,
  'job': 'services',
  'marital': 'married',
  'education': 'primary',
  'balance': 5879,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 73,
  'age': 41.0,
  'job': 'technician',
  'marital': 'married',
  'education': 'secondary',
  'balance': 871,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 74,
  'age': 40.0,
  'job': 'admin.',
  'marital': None,
  'education': 'secondary',
  'balance': 35,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 75,
  'age': None,
  'job': 'technician',
  'marital': 'married',
  'education': 'secondary',
  'balance': 757,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 76,
  'age': 63.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'primary',
  'balance': 115,
  'housing': 'no',
  'loan': 'no',
  'default': 'yes'},
 {'id': 77,
  'age': 39.0,
  'job': 'management',
  'marital': 'divorced',
  'education': 'secondary',
  'balance': 51,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 78,
  'age': 36.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 580,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 79,
  'age': 43.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 4923,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 80,
  'age': 25.0,
  'job': 'admin.',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 3730,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 81,
  'age': 40.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': -605,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 82,
  'age': 32.0,
  'job': 'blue-collar',
  'marital': None,
  'education': 'secondary',
  'balance': 34,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 83,
  'age': 54.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 2237,
  'housing': 'no',
  'loan': 'no',
  'default': 'yes'},
 {'id': 84,
  'age': 53.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 285,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 85,
  'age': 41.0,
  'job': 'admin.',
  'marital': 'married',
  'education': 'secondary',
  'balance': -120,
  'housing': 'no',
  'loan': 'no',
  'default': 'yes'},
 {'id': 86,
  'age': 54.0,
  'job': 'technician',
  'marital': 'divorced',
  'education': 'secondary',
  'balance': -291,
  'housing': 'no',
  'loan': 'no',
  'default': 'yes'},
 {'id': 87,
  'age': 45.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 31472,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 88,
  'age': 33.0,
  'job': 'blue-collar',
  'marital': None,
  'education': 'secondary',
  'balance': 529,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 89,
  'age': None,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 35,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 90,
  'age': 31.0,
  'job': 'admin.',
  'marital': 'single',
  'education': 'secondary',
  'balance': 1340,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 91,
  'age': 40.0,
  'job': 'admin.',
  'marital': 'married',
  'education': 'secondary',
  'balance': 149,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 92,
  'age': 33.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 5235,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 93,
  'age': 49.0,
  'job': 'technician',
  'marital': 'married',
  'education': 'secondary',
  'balance': 3466,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 94,
  'age': 39.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 575,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 95,
  'age': 46.0,
  'job': 'services',
  'marital': 'divorced',
  'education': 'secondary',
  'balance': 348,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 96,
  'age': 28.0,
  'job': 'student',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 1096,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 97,
  'age': 30.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 1646,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 98,
  'age': 59.0,
  'job': 'retired',
  'marital': 'divorced',
  'education': 'secondary',
  'balance': 1,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 99,
  'age': 24.0,
  'job': 'services',
  'marital': 'single',
  'education': 'secondary',
  'balance': 77,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 100,
  'age': 28.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 0,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 101,
  'age': None,
  'job': 'blue-collar',
  'marital': None,
  'education': 'primary',
  'balance': 676,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 102,
  'age': 23.0,
  'job': 'student',
  'marital': 'single',
  'education': 'secondary',
  'balance': 556,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 103,
  'age': 56.0,
  'job': 'management',
  'marital': 'married',
  'education': 'secondary',
  'balance': 3164,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 104,
  'age': 53.0,
  'job': 'admin.',
  'marital': 'married',
  'education': 'secondary',
  'balance': 257,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 105,
  'age': 59.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'primary',
  'balance': 0,
  'housing': 'no',
  'loan': 'no',
  'default': 'yes'},
 {'id': 106,
  'age': 31.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 0,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 107,
  'age': 27.0,
  'job': 'blue-collar',
  'marital': None,
  'education': 'secondary',
  'balance': 5854,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 108,
  'age': 32.0,
  'job': 'services',
  'marital': 'single',
  'education': 'secondary',
  'balance': 1168,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 109,
  'age': 39.0,
  'job': 'housemaid',
  'marital': 'married',
  'education': 'secondary',
  'balance': 1029,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 110,
  'age': None,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 685,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 111,
  'age': 33.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 2565,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 112,
  'age': 33.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 5878,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 113,
  'age': 52.0,
  'job': 'admin.',
  'marital': 'divorced',
  'education': 'tertiary',
  'balance': 0,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 114,
  'age': 36.0,
  'job': 'services',
  'marital': 'single',
  'education': 'secondary',
  'balance': 590,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 115,
  'age': 40.0,
  'job': 'admin.',
  'marital': None,
  'education': 'secondary',
  'balance': 1538,
  'housing': 'yes',

In [5]:
len(contents)

1000

In [6]:
contents[1]

{'id': 2,
 'age': 25.0,
 'job': 'technician',
 'marital': 'married',
 'education': 'secondary',
 'balance': 517,
 'housing': 'no',
 'loan': 'no',
 'default': 'no'}

In [7]:
contents[1]['balance']

517

In [8]:
help(pd.read_json)

Help on function read_json in module pandas.io.json._json:

read_json(path_or_buf: 'FilePath | ReadBuffer[str] | ReadBuffer[bytes]', *, orient: 'str | None' = None, typ: "Literal['frame', 'series']" = 'frame', dtype: 'DtypeArg | None' = None, convert_axes=None, convert_dates: 'bool | list[str]' = True, keep_default_dates: 'bool' = True, numpy: 'bool' = False, precise_float: 'bool' = False, date_unit: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', lines: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', nrows: 'int | None' = None, storage_options: 'StorageOptions' = None) -> 'DataFrame | Series | JsonReader'
    Convert a JSON string to pandas object.

    Parameters
    ----------
    path_or_buf : a valid JSON str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be:
        ``file://localhost/path/to/table.json``.

        If you want to pass in a path object, pandas accepts any
        ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method,
        such as a file handle (e.g. via builtin ``open`` function)
        or ``StringIO``.
    orient : str
        Indication of expected JSON string format.
        Compatible JSON strings can be produced by ``to_json()`` with a
        corresponding orient value.
        The set of possible orients is:

        - ``'split'`` : dict like
          ``{index -> [index], columns -> [columns], data -> [values]}``
        - ``'records'`` : list like
          ``[{column -> value}, ... , {column -> value}]``
        - ``'index'`` : dict like ``{index -> {column -> value}}``
        - ``'columns'`` : dict like ``{column -> {index -> value}}``
        - ``'values'`` : just the values array

        The allowed and default values depend on the value
        of the `typ` parameter.

        * when ``typ == 'series'``,

          - allowed orients are ``{'split','records','index'}``
          - default is ``'index'``
          - The Series index must be unique for orient ``'index'``.

        * when ``typ == 'frame'``,

          - allowed orients are ``{'split','records','index',
            'columns','values', 'table'}``
          - default is ``'columns'``
          - The DataFrame index must be unique for orients ``'index'`` and
            ``'columns'``.
          - The DataFrame columns must be unique for orients ``'index'``,
            ``'columns'``, and ``'records'``.

    typ : {'frame', 'series'}, default 'frame'
        The type of object to recover.

    dtype : bool or dict, default None
        If True, infer dtypes; if a dict of column to dtype, then use those;
        if False, then don't infer dtypes at all, applies only to the data.

        For all ``orient`` values except ``'table'``, default is True.

        .. versionchanged:: 0.25.0

           Not applicable for ``orient='table'``.

    convert_axes : bool, default None
        Try to convert the axes to the proper dtypes.

        For all ``orient`` values except ``'table'``, default is True.

        .. versionchanged:: 0.25.0

           Not applicable for ``orient='table'``.

    convert_dates : bool or list of str, default True
        If True then default datelike columns may be converted (depending on
        keep_default_dates).
        If False, no dates will be converted.
        If a list of column names, then those columns will be converted and
        default datelike columns may also be converted (depending on
        keep_default_dates).

    keep_default_dates : bool, default True
        If parsing dates (convert_dates is not False), then try to parse the
        default datelike columns.
        A column label is datelike if

        * it ends with ``'_at'``,

        * it ends with ``'_time'``,

        * it begins with ``'timestamp'``,

        * it is ``'modified'``, or

        * it is ``'date'``.

    numpy : bool, default False
        Direct decoding to numpy arrays. Supports numeric data only, but
        non-numeric column and index labels are supported. Note also that the
        JSON ordering MUST be the same for each term if numpy=True.

        .. deprecated:: 1.0.0

    precise_float : bool, default False
        Set to enable usage of higher precision (strtod) function when
        decoding string to double values. Default (False) is to use fast but
        less precise builtin functionality.

    date_unit : str, default None
        The timestamp unit to detect if converting dates. The default behaviour
        is to try and detect the correct precision, but if this is not desired
        then pass one of 's', 'ms', 'us' or 'ns' to force parsing only seconds,
        milliseconds, microseconds or nanoseconds respectively.

    encoding : str, default is 'utf-8'
        The encoding to use to decode py3 bytes.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    lines : bool, default False
        Read the file as a json object per line.

    chunksize : int, optional
        Return JsonReader object for iteration.
        See the `line-delimited json docs
        <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#line-delimited-json>`_
        for more information on ``chunksize``.
        This can only be passed if `lines=True`.
        If this is None, the file will be read into memory all at once.

        .. versionchanged:: 1.2

           ``JsonReader`` is a context manager.

    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'path_or_buf' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    nrows : int, optional
        The number of lines from the line-delimited jsonfile that has to be read.
        This can only be passed if `lines=True`.
        If this is None, all the rows will be returned.

        .. versionadded:: 1.1

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

        .. versionadded:: 1.2.0

    Returns
    -------
    Series or DataFrame
        The type returned depends on the value of `typ`.

    See Also
    --------
    DataFrame.to_json : Convert a DataFrame to a JSON string.
    Series.to_json : Convert a Series to a JSON string.
    json_normalize : Normalize semi-structured JSON data into a flat table.

    Notes
    -----
    Specific to ``orient='table'``, if a :class:`DataFrame` with a literal
    :class:`Index` name of `index` gets written with :func:`to_json`, the
    subsequent read operation will incorrectly set the :class:`Index` name to
    ``None``. This is because `index` is also used by :func:`DataFrame.to_json`
    to denote a missing :class:`Index` name, and the subsequent
    :func:`read_json` operation cannot distinguish between the two. The same
    limitation is encountered with a :class:`MultiIndex` and any names
    beginning with ``'level_'``.

    Examples
    --------
    >>> df = pd.DataFrame([['a', 'b'], ['c', 'd']],
    ...                   index=['row 1', 'row 2'],
    ...                   columns=['col 1', 'col 2'])

    Encoding/decoding a Dataframe using ``'split'`` formatted JSON:

    >>> df.to_json(orient='split')
        '{"columns":["col 1","col 2"],"index":["row 1","row 2"],"data":[["a","b"],["c","d"]]}'
    >>> pd.read_json(_, orient='split')
          col 1 col 2
    row 1     a     b
    row 2     c     d

    Encoding/decoding a Dataframe using ``'index'`` formatted JSON:

    >>> df.to_json(orient='index')
    '{"row 1":{"col 1":"a","col 2":"b"},"row 2":{"col 1":"c","col 2":"d"}}'

    >>> pd.read_json(_, orient='index')
          col 1 col 2
    row 1     a     b
    row 2     c     d

    Encoding/decoding a Dataframe using ``'records'`` formatted JSON.
    Note that index labels are not preserved with this encoding.

    >>> df.to_json(orient='records')
    '[{"col 1":"a","col 2":"b"},{"col 1":"c","col 2":"d"}]'
    >>> pd.read_json(_, orient='records')
      col 1 col 2
    0     a     b
    1     c     d

    Encoding with Table Schema

    >>> df.to_json(orient='table')
        '{"schema":{"fields":[{"name":"index","type":"string"},{"name":"col 1","type":"string"},{"name":"col 2","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":"row 1","col 1":"a","col 2":"b"},{"index":"row 2","col 1":"c","col 2":"d"}]}'

In [9]:
pd.read_json('partner_data_records.json')

,id,age,job,marital,education,balance,housing,loan,default
0,1,26.0,unemployed,married,tertiary,454,yes,yes,no
1,2,25.0,technician,married,secondary,517,no,no,no
2,3,36.0,technician,single,secondary,1044,yes,no,no
3,4,45.0,blue-collar,married,secondary,146,yes,yes,no
4,5,27.0,management,married,tertiary,145,no,no,no
...,...,...,...,...,...,...,...,...,...
995,996,41.0,entrepreneur,married,secondary,-1882,yes,no,no
996,997,58.0,management,married,tertiary,1271,yes,no,no
997,998,31.0,services,single,secondary,297,no,no,no
998,999,31.0,entrepreneur,None,tertiary,312,no,no,no
999,1000,23.0,blue-collar,single,secondary,780,yes,no,no

In [10]:
pd.read_json('partner_data_records.json', index_col='id')

TypeError: read_json() got an unexpected keyword argument 'index_col'

In [12]:
df = pd.read_json('partner_data_records.json')
df

,id,age,job,marital,education,balance,housing,loan,default
0,1,26.0,unemployed,married,tertiary,454,yes,yes,no
1,2,25.0,technician,married,secondary,517,no,no,no
2,3,36.0,technician,single,secondary,1044,yes,no,no
3,4,45.0,blue-collar,married,secondary,146,yes,yes,no
4,5,27.0,management,married,tertiary,145,no,no,no
...,...,...,...,...,...,...,...,...,...
995,996,41.0,entrepreneur,married,secondary,-1882,yes,no,no
996,997,58.0,management,married,tertiary,1271,yes,no,no
997,998,31.0,services,single,secondary,297,no,no,no
998,999,31.0,entrepreneur,None,tertiary,312,no,no,no
999,1000,23.0,blue-collar,single,secondary,780,yes,no,no

In [13]:
df.set_index('id')

       age           job  marital  education  balance housing loan default
id
1     26.0    unemployed  married   tertiary      454     yes  yes      no
2     25.0    technician  married  secondary      517      no   no      no
3     36.0    technician   single  secondary     1044     yes   no      no
4     45.0   blue-collar  married  secondary      146     yes  yes      no
5     27.0    management  married   tertiary      145      no   no      no
...    ...           ...      ...        ...      ...     ...  ...     ...
996   41.0  entrepreneur  married  secondary    -1882     yes   no      no
997   58.0    management  married   tertiary     1271     yes   no      no
998   31.0      services   single  secondary      297      no   no      no
999   31.0  entrepreneur     None   tertiary      312      no   no      no
1000  23.0   blue-collar   single  secondary      780     yes   no      no

[1000 rows x 8 columns]

In [15]:
df.head()

   id   age          job  marital  education  balance housing loan default
0   1  26.0   unemployed  married   tertiary      454     yes  yes      no
1   2  25.0   technician  married  secondary      517      no   no      no
2   3  36.0   technician   single  secondary     1044     yes   no      no
3   4  45.0  blue-collar  married  secondary      146     yes  yes      no
4   5  27.0   management  married   tertiary      145      no   no      no

In [18]:
df = pd.read_json('partner_data_records.json')
df.set_index('id', inplace=True)
df

       age           job  marital  education  balance housing loan default
id
1     26.0    unemployed  married   tertiary      454     yes  yes      no
2     25.0    technician  married  secondary      517      no   no      no
3     36.0    technician   single  secondary     1044     yes   no      no
4     45.0   blue-collar  married  secondary      146     yes  yes      no
5     27.0    management  married   tertiary      145      no   no      no
...    ...           ...      ...        ...      ...     ...  ...     ...
996   41.0  entrepreneur  married  secondary    -1882     yes   no      no
997   58.0    management  married   tertiary     1271     yes   no      no
998   31.0      services   single  secondary      297      no   no      no
999   31.0  entrepreneur     None   tertiary      312      no   no      no
1000  23.0   blue-collar   single  secondary      780     yes   no      no

[1000 rows x 8 columns]

In [19]:
df = pd.read_json('partner_data_records.json')
df = df.set_index('id')
df

       age           job  marital  education  balance housing loan default
id
1     26.0    unemployed  married   tertiary      454     yes  yes      no
2     25.0    technician  married  secondary      517      no   no      no
3     36.0    technician   single  secondary     1044     yes   no      no
4     45.0   blue-collar  married  secondary      146     yes  yes      no
5     27.0    management  married   tertiary      145      no   no      no
...    ...           ...      ...        ...      ...     ...  ...     ...
996   41.0  entrepreneur  married  secondary    -1882     yes   no      no
997   58.0    management  married   tertiary     1271     yes   no      no
998   31.0      services   single  secondary      297      no   no      no
999   31.0  entrepreneur     None   tertiary      312      no   no      no
1000  23.0   blue-collar   single  secondary      780     yes   no      no

[1000 rows x 8 columns]

In [8]:
pd.read_json('partner_data_records_cp1251.json', encoding='cp1251')

,id,age,job,marital,education,balance,housing,loan,default
0,1,26.0,безработный,married,высшее,454,да,да,нет
1,2,25.0,technician,married,secondary,517,no,no,no
2,3,36.0,technician,single,secondary,1044,yes,no,no
3,4,45.0,blue-collar,married,secondary,146,yes,yes,no
4,5,27.0,management,married,tertiary,145,no,no,no
...,...,...,...,...,...,...,...,...,...
995,996,41.0,entrepreneur,married,secondary,-1882,yes,no,no
996,997,58.0,management,married,tertiary,1271,yes,no,no
997,998,31.0,services,single,secondary,297,no,no,no
998,999,31.0,entrepreneur,None,tertiary,312,no,no,no
999,1000,23.0,blue-collar,single,secondary,780,yes,no,no

In [7]:
!python --version

Python 3.10.9

In [9]:
df = pd.read_json('partner_data_records.json')
df = df.set_index('id')
df.head()

     age          job  marital  education  balance housing loan default
id
1   26.0   unemployed  married   tertiary      454     yes  yes      no
2   25.0   technician  married  secondary      517      no   no      no
3   36.0   technician   single  secondary     1044     yes   no      no
4   45.0  blue-collar  married  secondary      146     yes  yes      no
5   27.0   management  married   tertiary      145      no   no      no

In [11]:
df.shape

(1000, 8)

In [12]:
df.describe()

              age       balance
count  901.000000   1000.000000
mean    40.819090   1334.894000
std     11.220097   2746.106944
min     18.000000  -3372.000000
25%     32.000000     67.750000
50%     39.000000    484.000000
75%     48.000000   1495.250000
max     88.000000  36221.000000

In [13]:
df.describe().loc['min', 'balance']

-3372.0

In [15]:
df['balance'].min()

-3372

In [18]:
df.balance.min()

-3372

In [19]:
df.min()

C:\Users\e.kuzmina\AppData\Local\Temp\ipykernel_18408\3962516015.py:1: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.min()

age             18.0
job           admin.
education    primary
balance        -3372
housing           no
loan              no
default           no
dtype: object

In [20]:
df.max()

C:\Users\e.kuzmina\AppData\Local\Temp\ipykernel_18408\1151452817.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.max()

age             88.0
job          unknown
education    unknown
balance        36221
housing          yes
loan             yes
default          yes
dtype: object

In [21]:
df.max(numeric_only=True)

age           88.0
balance    36221.0
dtype: float64

In [22]:
df.max(axis='columns')

C:\Users\e.kuzmina\AppData\Local\Temp\ipykernel_18408\3427301757.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.max(axis='columns')

id
1        454.0
2        517.0
3       1044.0
4        146.0
5        145.0
         ...
996       41.0
997     1271.0
998      297.0
999      312.0
1000     780.0
Length: 1000, dtype: float64

In [23]:
df.max(axis=1)

C:\Users\e.kuzmina\AppData\Local\Temp\ipykernel_18408\1471452883.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.max(axis=1)

id
1        454.0
2        517.0
3       1044.0
4        146.0
5        145.0
         ...
996       41.0
997     1271.0
998      297.0
999      312.0
1000     780.0
Length: 1000, dtype: float64

In [24]:
df.mean()

C:\Users\e.kuzmina\AppData\Local\Temp\ipykernel_18408\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

age          40.81909
balance    1334.89400
dtype: float64

In [25]:
df.median()

C:\Users\e.kuzmina\AppData\Local\Temp\ipykernel_18408\530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

age         39.0
balance    484.0
dtype: float64

In [26]:
df.mode()

    age          job  marital  education  balance housing loan default
0  32.0  blue-collar  married  secondary        0     yes   no      no

In [27]:
df['balance'].values

array([  454,   517,  1044,   146,   145,    11,   298,   905,  -485,
          10,    78,     0,   223,   387,    96,     0,  -161,  3630,
         302,  1452,  1651,    84,  2143,   682,   337,  4545,  1698,
        1367,  3109,   480,  3536,   781,   291,  3145,   -75,  1035,
         981,   552,   465,   886,  -464,    34,   -74,  1777,  1395,
        -148,  1843,  1522,   257,  1327,     0,   497,   902,  1311,
        1596,  2767,     0,   984,    84,   231,  3730,  1139,   388,
         485,   363,  -313,   278,  -204,  2931,     3,  2244,  5879,
         871,    35,   757,   115,    51,   580,  4923,  3730,  -605,
          34,  2237,   285,  -120,  -291, 31472,   529,    35,  1340,
         149,  5235,  3466,   575,   348,  1096,  1646,     1,    77,
           0,   676,   556,  3164,   257,     0,     0,  5854,  1168,
        1029,   685,  2565,  5878,     0,   590,  1538,   260,     0,
         353,     0,    18,  1161,    13,     0,   978,   273,   194,
          78,     0,   303,     0,  4374,   216,  1595,    21,     4,
        7585,  4230,   932,   282,    62,     0,  3463,     0,  1491,
         575,     0,    37,    24,   567,   290,   536,     4,  1181,
         -14,   911,   266,  5347,    40,   930,  4712,   982,     0,
         618,  3108,    55,   953, 10035,  2552,   893,   766,   681,
         648,  7578,     0,  -988,   163,  2096,  2908,   425,  7653,
        1141,   414,    20,  5142,   424,    67,   870,  -224,   613,
         313,    84,   525,  3269,    47,  2374,   886,  2171,     3,
          22,  1098,   316,     0,  5806,  1466,     0,    81,  2671,
         737,  1016,  1102,  8860,   180,  -636,  1022,  5169,   473,
         -92,   898,   598,     0,  1062,  4793,   497,   960,   521,
        1059,   483,   130,  5993,   184,   426,  1186,  2103,   211,
         618,   385,  3817,  3839,   259,   -73,   518, 14850,  3511,
         986,  1396,  3068,   885,   829,   -14,  1836,   813,  3207,
        2079,  1855,  -502,     0,  -132,  -211,  6657,  1815,  -790,
        1642,  1477,   458,  1535,   326,    34,  -157,   401,  2685,
         922,  1076,   682,   445,   296,  1263,   108, 19796,    25,
        7832,   313,   282,   287,  4312,    54,  1564,   -40,   512,
        1805,   647,   596,  9898,   247,  1223,  3875,   854,  1612,
         321,   950,  3064,   922,     7,  1451,   136,   337,   347,
          95,     0,   236,  2851,  1333,    35,  5248,  4688, 10394,
           0,  3169,  1959,     0,    15,   571,    68,  -233,   907,
        1018,   114,   714,   479,   236,     0,  4003,    71,  4979,
          38,   596, 10443,   118,     7,     1,   715,  1780,   237,
        1046,    54,    71,  3387,     0,  3850,  2575,   621,  2442,
         469,   236,  1259,  1508,     0,  1601,   498,    73,  2564,
         218,  2137,   -41,  6706,  -240,  1108,   557,  6110,  2144,
        1057,  1088,  1720,  2684,  3158, 36221,     0,  2069,   707,
           0,  5894,   260,   856,   969,   759,    24,  2131,  1007,
        2050,  4414,     0,  3459,    -1,     0,  1670,  3064,   218,
           0,    75,  1730,   433,     0,   915,   687,   398,  1322,
        -133,     0,  4012,  -274,  3154,   729,   190,  1097,   460,
        3663,     0,   467,   387,   483,  -199,     0,    27,   444,
         318,   172,  7298,   380,  4590,  2244,   999,   134,  1578,
         715,  4112,   592,  1086,   214,  5271,  1449,  8079,     9,
        -229,  1820,   205,   556,   957,   917,   251,   481,    59,
        -757, 23495,  2331,  1696,   211,  3634,  2343,   153,    71,
        7505,   675,    12,  2403, 10395,  4639,     6,   331,  2114,
           2,  -175,  1262,   512,   107,   305,  1827,   214,     0,
         -61, 12857,   748,  7918,   778,    69,     0,   421,  2262,
           0,    23,  1697, 10045,  3777,   327,   614,     0,   574,
         -22,     0,  2148, 11891,   192,   812,   510,   598,   782,
         294,  1681,  1796,   252,   148,   191,   638,   520,  -340,
        2083,   191,   -56,     0,   770,   914,   -38,  1279,  1598,
          62,   473,  1533,   991,    80,   760,  1802,     0,   421,
        2160,    87,   101,  6422,   574,  1190,   801,     0,   771,
         598,   137,  1330,  -274,  2597,  4393,  3429,  1776,   370,
         958,     0,   776,     0,  1166,   157,     0,  -367,  2033,
        -234,  2461,   882,     2,  2533,    31,   313,  6288,  -110,
         297,    28,  3262,  3131,  4380,  2305,   629,   127,   530,
        7791,   768,  3140,  1600,   168,   366,  5205,     0,   493,
           0,  1782,   387,     0,   130,   978,  2994,  1330,     0,
        5691,  1684,   462,   322,   105,  2337,   581,   395,   565,
        2850,   405,   655, 23867,   167,   582,  2281,     0,   147,
        3289,     0,  2767,   244,  1483,   100,   -96,   -93,   254,
          18,   394,     3,   725,   283,   174,   472,     0,   557,
        -413,  1325,   109,   260,   884,   583,  6835,     8,   329,
         538,   -35,   768,  3405,   100,   745,   363,   863, -3372,
        1654,  1005,   618,   495,  1577,     7,  1165,   -56,   167,
         713,  -736,  3239,  -292,   677,  -190,   825,  4082,  1026,
           0,     7,   655,   997,  2749,   562,     0,  1559,   805,
         366,  3232,   810,   136,   864,  -433,    66,   200,   703,
        2650,    87,  -166,  2976,   703,   309,   424,    71,     0,
         277,    93,     0,  5558,  1011,     0,  6913,  2261,   -14,
        1655,   746,  2870,   477,  1240,   880,  4696,   396,  5112,
         294,   116,   719,     0,   477,     0,   242,   535,   218,
         342,    31,    68,  3083,     0,   203,   703,   314,  8206,
          54,  1995,    21,  -101,  -253,     0,  1734,     0,   284,
         223,   944,    77,  -163,   131,   115,   494,    22,   855,
        1353,  7634,  2764,    30,  1075,   180,  5945,     2,   366,
         379,   232,   625,  4380,  1589,   806,   344,   155,   756,
         264,     0,   439,  3732,     5,    11,  -247,    57,  3641,
          82,   658,   452,  2278,   474,  4200,  1533,   302,   446,
        6043,   175,   402,     0,   607,   317,   464,  1871,    58,
           0,  -556,   308,  -288,     0,   442,     4,   475,   881,
         378,  1026,   391,   615,  5505,  2629,     0,     0,     0,
         579,   750,    70,  -323,   621,    19,  1914,  -114,   751,
         246,     0,   706,  1156,   327,  1875,  2123,   597,   966,
        -114,  6393,   510,     0,   366,  -497,   319,   558,     0,
       15904,     4,   -48,   222,  -127,   437,  1179,  -360,    88,
         349,   102,   446,   456,    23,  2440,    57,   477,  1708,
         161,   -24,  1716,  1014,     0,    71,   581,   443,   538,
         145,     0,     0,    50,     0,   378,   618,   358,  1246,
        3897,     0,    61,     0,    71,  4358,   839,   731,  2974,
          91,   -61,  1286,     0,    15,  -611,   983,  3917,   225,
        5908,     0,   365,    85,  1808,   990,     0,   241,  2313,
           4,   182,   290,  1905,  1184,  7338,    19,  1227,   167,
         153,    41,   742,  4428,   -29,   783,  3494,   266,  1746,
        2519,   176,   778,  4565,   705,  5215,  2047,  2014,     4,
         144,    -4,  -289,   714,  5114,    50,  1271,   524,  1321,
        1016,  5737,   291,     0,   172,    30,   761,   608,   651,
        3160,  1454,   763,   293,     0,    87,   132,  6748, -1725,
         414,     3,  2503,    49,    70,    87,  4110,  -217,  4579,
        1872,   451,   -35,   929,  9367,   586,     1,    45,   688,
         130,  2474,    73,   363,  1017, 17418,     5,  -380,   102,
        3028,   334,     0,   143,     0,   430,   581,     0,   -68,
        2071,  1819,   648,   241,   106, -1882,  1271,   297,   312,
         780], dtype=int64)

In [29]:
df['balance'].value_counts()

0       89
71       6
4        6
618      4
366      4
        ..
3387     1
3850     1
2575     1
2442     1
780      1
Name: balance, Length: 765, dtype: int64

In [30]:
df.columns

Index(['age', 'job', 'marital', 'education', 'balance', 'housing', 'loan',
       'default'],
      dtype='object')

In [31]:
df[['job', 'marital', 'education','housing', 'loan', 'default']].describe()

                job  marital  education housing  loan default
count          1000      897       1000    1000  1000    1000
unique           12        3          4       2     2       2
top     blue-collar  married  secondary     yes    no      no
freq            235      492        515     562   845     915

In [35]:
df['marital'].nunique()

3

In [39]:
df['marital'].unique()

array(['married', 'single', 'divorced', None], dtype=object)

In [40]:
df['marital'].isna()

id
1       False
2       False
3       False
4       False
5       False
        ...
996     False
997     False
998     False
999      True
1000    False
Name: marital, Length: 1000, dtype: bool

In [41]:
df[df['marital'].isna()]

      age            job marital  education  balance housing loan default
id
14   34.0        student    None   tertiary      387     yes   no      no
18   47.0    blue-collar    None  secondary     3630     yes   no      no
29   57.0    blue-collar    None    primary     3109      no   no      no
37   36.0       services    None  secondary      981      no   no      no
42   57.0        retired    None   tertiary       34      no  yes      no
..    ...            ...     ...        ...      ...     ...  ...     ...
966  45.0    blue-collar    None  secondary      -35     yes  yes      no
972   NaN     technician    None  secondary      688      no   no      no
983  57.0     management    None   tertiary      334     yes   no      no
988  30.0  self-employed    None  secondary      581     yes   no      no
999  31.0   entrepreneur    None   tertiary      312      no   no      no

[103 rows x 8 columns]

In [42]:
df[df['age'].isna()]

     age          job   marital  education  balance housing loan default
id
9    NaN   management   married   tertiary     -485     yes   no     yes
19   NaN  blue-collar   married  secondary      302      no  yes      no
32   NaN    housemaid    single  secondary      781     yes   no      no
43   NaN   technician   married  secondary      -74     yes   no     yes
50   NaN      retired  divorced    primary     1327     yes  yes     yes
..   ...          ...       ...        ...      ...     ...  ...     ...
951  NaN      retired   married  secondary       87      no   no      no
959  NaN      retired  divorced  secondary       70     yes   no      no
972  NaN   technician      None  secondary      688      no   no      no
985  NaN  blue-collar    single  secondary      143     yes   no      no
995  NaN   management   married  secondary      106      no   no      no

[99 rows x 8 columns]

In [44]:
df[(df['age'].isna()) & (df['marital'].isna())]

     age          job marital  education  balance housing loan default
id
101  NaN  blue-collar    None    primary      676     yes   no      no
320  NaN   management    None   tertiary       15      no   no      no
500  NaN   technician    None   tertiary      192     yes   no      no
532  NaN  blue-collar    None  secondary     2160      no   no      no
748  NaN   technician    None  secondary     1353      no   no      no
885  NaN     services    None  secondary     1286     yes  yes      no
972  NaN   technician    None  secondary      688      no   no      no

In [46]:
df[ ((df['housing'] == 'yes') | (df['loan'] == 'yes')) & (df['age'] <= 23)]

       age          job marital  education  balance housing loan default
id
102   23.0      student  single  secondary      556     yes   no      no
353   22.0     services  single  secondary      236     yes   no      no
437   23.0  blue-collar  single  secondary      214     yes   no      no
682   21.0       admin.  single  secondary       66     yes   no      no
1000  23.0  blue-collar  single  secondary      780     yes   no      no